In [1]:
# Author: Ananya Singh
# Date: 
# CS301-006, Professor Watson
# HW4 Solution
# Brief description of the project: 
# link to the git repo: 
# link-to-the-relevant-git-commit:

In [8]:
import pandas as pd

In [9]:
import numpy as np

In [27]:
#1
def get_percent_nans(df, column_name):
    specific_column = df[column_name]
    #grades_df.loc[(grades_df['Midterm'].isna())]
    #return len(df.loc[specific_column.isna()])
    return (len(df.loc[specific_column.isna()])/len(df))*100

In [28]:
data_df = pd.read_csv("~/Desktop/CS301-DataScience/HW04/2019-coronavirus-dataset-01212020-01262020/2019_nCoV_20200121_20200206.csv")

In [29]:
get_percent_nans(data_df, "Suspected")

95.31166755460842

In [30]:
get_percent_nans(data_df, "Recovered")

46.670218433670755

In [31]:
for col in data_df.columns:
    print('The {} column has {:.2f}% empty values'.format(col,get_percent_nans(data_df,col)))

The Province/State column has 24.45% empty values
The Country/Region column has 0.00% empty values
The Last Update column has 0.00% empty values
The Confirmed column has 1.60% empty values
The Suspected column has 95.31% empty values
The Recovered column has 46.67% empty values
The Death column has 53.22% empty values

In [33]:
data_df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0
...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN

In [79]:
#2 most deaths
answer = data_df.groupby("Country/Region")["Death"].sum().idxmax()
print("The Country/Region with the most amount of deaths is " + answer)

The Country/Region with the most amount of deaths is Mainland China

In [80]:
#3 suspected cases
answer = data_df.groupby("Country/Region")["Suspected"].sum().idxmax()
print("The Country/Region with the highest number of suspected cases is " + answer)

The Country/Region with the highest number of suspected cases is Hong Kong

In [102]:
#4 second highest avg(mean) number of recovered cases --> use reset index
answer = data_df.groupby("Country/Region")["Recovered"].mean().sort_values(ascending=False).reset_index().iloc[1]["Country/Region"]
print("The Country/Region with the second highest avg number of recovered cases is " + answer)

The Country/Region with the second highest avg number of recovered cases is Thailand

In [118]:
#5 Create a dictionary which maps the Country/Region to the continent it is part of
#cars = ['Ford A', 'BMW A', 'Volvo']
cars = ['Hong Kong','India','Japan','Macau','Mainland China','Malaysia','Nepal','Philippines','Singapore','South Korea','Sri Lanka','Taiwan','Thailand','United Arab Emirates','Vietnam']
cars.sort(reverse = True)
print(cars)

['Vietnam', 'United Arab Emirates', 'Thailand', 'Taiwan', 'Sri Lanka', 'South Korea', 'Singapore', 'Philippines', 'Nepal', 'Malaysia', 'Mainland China', 'Macau', 'Japan', 'India', 'Hong Kong']

In [119]:
Mapping = {
    'Asia':['Vietnam', 
            'United Arab Emirates', 
            'Thailand', 
            'Taiwan', 
            'Sri Lanka', 
            'South Korea', 
            'Singapore', 
            'Philippines', 
            'Nepal', 
            'Malaysia', 
            'Mainland China', 
            'Macau', 
            'Japan', 
            'India', 
            'Hong Kong'],
    'Europe':['UK', 
              'Sweden', 
              'Spain', 
              'Russia', 
              'Italy', 
              'Germany', 
              'France', 
              'Finland', 
              'Belgium'],'North America':['Canada','Mexico','United States'],'South America':['Brazil','Colombia'],'Africa':['Cambodia','Ivory Coast'],'Australia':['Australia'],'Antarctica':['']}

In [121]:
lst = ['Belgium','Finland','France','Germany','Italy','Russia','Spain','Sweden','UK']
lst.sort(reverse=True)
print(lst)

['UK', 'Sweden', 'Spain', 'Russia', 'Italy', 'Germany', 'France', 'Finland', 'Belgium']